@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-IBM-Plex-Mono: var(--font-ibm-plex-mono), monospace;
  --font-Manrope: var(--font-manrope), sans-serif;
  --font-ubuntu: var(--font-ubuntu), sans-serif;
  --font-space-grotesk: var(--font-space-grotesk), sans-serif;
  --color-primary: #98faec;
  --breakpoint-Q: 1440px;
  --color-secondary: #12f7d6;
  --color-complementary: #43454d;
  --color-background: #374151;
  --color-background-2: #1a1e23;
  --color-background-3: #0d1014;
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  background: var(--color-background);
  color: white;
  @apply font-Manrope;
}
