.paragraph {
  color: var(--Main-Gray, #606060);
  /* Heading-2 */
  font-family: DM Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 117%; /* 2.34rem */
  letter-spacing: -0.06rem;
}
.heading {
  color: var(--font-color, #181717);
  /* Heading-1 */
  font-family: var(--font-sans);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 97.2%; /* 3.645rem */
  letter-spacing: -0.1125rem;
}
